.header {
  height: 10vh;
  background-color: black;
  padding: 1rem;
  color: white;
  display: flex;
}

.logo {
  flex: 0.2;
  font-weight: 600;
  text-transform: uppercase;
}

.logo a:hover{
  font-weight: 800 !important;
}

.navBar {
  justify-content: center;
  display: flex;
  flex: 0.5;
  margin-top: 1rem;
}

.navBar ul li a{
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  color: white !important;
}

.navBar ul li a:hover{
  color: white;
  font-weight: 600;
}

a{
  color: white !important;
  text-decoration: none !important;
  font-size: large;
}

.navBar ul li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
}

.footer {
  height: 10vh;
  background-color: black;
  padding: 1rem;
  color: white;
  border-top: 3px solid white;
  text-align: center;
  text-transform: uppercase;
}
